/* License: GNU Lesser General Public License v3.0 */
/* See: http://www.gnu.org/licenses/lgpl-3.0.html */
/* Written by Carsten Jacob */
/* Please feel free to contact me coding@langstreckentouren.de */
/* https://github.com/CarstenHa */

    * {
     box-sizing: border-box;
    }
    a {
     color: #555555;
    }
    a.symbol {
     text-decoration: none;
    }
    a:visited {
     color: #9d6554;
    }
    a:hover {
     color: #884d3b;
    }
    a:active {
     color: #000000;
    }
    body {
     font-family: 'Rubik',sans-serif;
     font-weight: 400;
     font-size: 9pt;
     line-height: 1.3;
     color: #222;
     text-align: left;
    }
    header.gtfs {
     position: relative;
    }
    header.gtfs img#logo {
     position: absolute;
     top: .4em;
     right: 1em;
     width: 140px;
     height: auto;
    }
    .map {
     width:100%;
     height:75vh;
     position:relative;
     border: 1px solid #999999;
    }
    div.showgtfs {
     background-color: #ecf4e2;
     border-radius: 10px;
     padding: 0.1em 1em 1em 1em;
    }
    div#info {
     position: absolute;
     bottom:1em;
     left:1em;
     z-index:1;
     background-color:#ecf4e2;
     padding:.6em;
     border-radius: 1em;
     margin-right: 1em;
    }
   h1 {
    font-family: 'Exo',sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline;
   }
   h2 {
    font-size: 1.2em;
   }
    h4 {
     font-size: 1em;
     margin: .5em 0;
    }
    .ol-control button {
     width: 1.8em;
     height: 1.8em;
    }
    .ol-attribution {
     z-index: 2;
     max-width: 85%;
    }
  @media only screen and (max-width: 620px) {
    header.gtfs h1 {
     padding-top: 1.8em;
    }
  }
